*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
machine_learning/data/*
machine_learning/X.pickle
machine_learning/y.pickle
machine_learning/.ipynb_checkpoints